* {
  /* font-family: "Lugrasimo", cursive; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homepage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  /* height: auto; */
  overflow-y: auto;
}

/* header css */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 60px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  z-index: 200;
  margin: auto;
  padding: 0 30px;
}
.logo {
  flex: 1;
  justify-content:flex-start;
}
.nav-links {
  flex: 1; 
  display: flex;
  justify-content: center;
}
.nav-links nav ul {
  display: flex;
  list-style-type: none;
  transition: opacity 1s ease-in-out;
  gap: 80px;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav ul li {
  transition: 0.2s ease-in-out;
}

nav ul li:hover {
  transform: scale(1.2);
}
nav ul li :hover {
  color: black;
}
.input {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}

.input.show {
  opacity: 1;
  animation: slideIn 0.3s backwards;
}

.fa-solid, .fas {
  color: #000;
  cursor: pointer;
  font-weight: 900;
  margin: 5px;
  z-index: 999;
}

.search-field {
  flex: 1; 
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  /* padding-left: 50px; */
  background-color: #fff;
}

/* welcome css */

.welcome {
  width: 65%;
  height: 350px;
  margin: 130px auto 40px;
  display: flex;
  gap: 10%;
  align-items: center;
  animation: slideIn 1.5s backwards;
}
/* styles.css */
@keyframes slideIn {
  from {
    transform: translateX(90%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.welcomeImg img {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}

.welcometxt {
  font-family: "Lugrasimo", cursive;
  font-weight: bolder;
  font-size: 15px;
  width: 50%;
  float: right;
  /* margin-top: 120px; */
  color: black;
  margin: auto;
  animation: rotateAnimation 1.5s linear;
}

/* product */
@keyframes slideup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.products {
  width: 99%;
  /* margin:50px 50px 0 50px; */
  animation: slideup 1s forwards;
  position: relative;

}

.products h1 {
  font-family: "Lugrasimo", cursive;
  font-size: 20px;
  margin: 10px 30px;
}
.productCont {
  gap: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 45px;
}
.product-container {
  width: 33.3%;
  /* height: 200px; */
}
.product-image {
  height: 50%;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}
.product-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, filter 0.5s ease;
  filter: brightness(100%);
}

.product-image:hover img {
  transform: scale(1.1);
  filter: brightness(60%);
}
.buybtn {
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 1s ease;
  white-space: nowrap;
  border: 0;
  box-shadow: 3px 3px 3px black;
  filter: brightness(90%);
}
.buybtn:hover {
  filter: brightness(100%);
  cursor: pointer;
}
.product-image:hover .buybtn {
  transform: translateX(-50%) scale(1.5);
  opacity: 1;
  background-color: rgb(141, 109, 109);
  color: white;
  /* z-index: 10; */
}
.product-catagories{
  margin: 50px auto;
}

.product-details {
  text-align: center;
}

.fa-solid, .fa-arrow-right{
  position:absolute;
  top: 45%;
  right: 8px;
  bottom: auto;
  margin-bottom: 40px;
}


.product-catagories ul{
  display: flex;
  justify-content:space-between;
  align-items: center;
  list-style-type: none;
  width: 70%;
  margin: auto;
  gap: 40px;
}

.product-catagories ul li a{
  text-decoration: none;
}
.product-catagories ul li a:hover{
  text-decoration: underline;
}

.footer {
  background-color: rgb(221, 220, 220);
  color: black;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
